@media all and (max-width: 992px) and (min-width: 769px){

    

    #about .about-container p{

       flex-basis: 90%;
       width: 100%;
    }

    #portfolio .img{
        flex-basis: 50%;
    }
   
}

@media all and (max-width: 768px) and (min-width: 481px){
   
    #about .about-container p{

        flex-basis: 90%;
        width: 100%;
     }

     #portfolio .img{
        flex-basis: 50%;
    }
}

@media all and (max-width: 480px){

    #about .about-container p{

        flex-basis: 90%;
        width: 100%;
     }

     #skills i{
        padding: 2%;
     }

     #portfolio .img{
         flex-basis: 100%;

     }

     #nav{
         height: 100px;
         justify-content: center;
         align-items: center;
     }

     #nav ul {
         margin-left: -10%;;
     }

     #nav ul li{
         width: 100%;
     }

}