@media all and (max-width: 992px) and (min-width: 769px){

    

    #about .about-container p{

       flex-basis: 90%;
       width: 100%;
    }

    #portfolio .img{
        flex-basis: 50%;
    }
   
}

@media all and (max-width: 768px) and (min-width: 481px){
   
    #about .about-container p{

        flex-basis: 90%;
        width: 100%;
     }

     #portfolio .img{
        flex-basis: 50%;
    }
}

@media all and (max-width: 480px){

    #nav{
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    #nav ul {
        margin-left: -10%;;
    }

    #nav ul li{
        width: 100%;
    }

    #about .about-container p{

        flex-basis: 90%;
        width: 100%;
     }

     #skills i{
        padding: 2%;
     }

     #portfolio .img{
         flex-basis: 100%;

     }

     #contact address, #contact h2{
         text-align: center;

     }

     #contact form{
         margin-top: 4%;
     }

     #contact form input[type=submit]{
         width: 50%;
         margin-left: 2px;
     }

}