body{
    color: grey;
    text-align: center;
    
}
#accordion{
    margin: 10px 50px;
}

h2{
    font-weight: 200;
}

hr{
    width: 20%;
}

.btn{
    color: orange;
}

.btn:hover{
    color: grey;
}