@media all and (max-width: 992px){
    #image{
        background-image: url('../img/obrazy/man-1.jpg');
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1{
        text-align: center;
    }
}

@media all and (min-width: 993px) and (max-width: 1170px){
    #head{
        position: relative;
    }

    h1{
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        margin: 60px 20px;
        color: white;
    }

    #image{
        background-image: url('../img/obrazy/man-2.jpg');
        height: 70vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}

@media all and (min-width: 1171px){
    
    #image{
        background-image: url('../img/obrazy/man-1.jpg');
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    #head{
        position: relative;
    }

    h1{
        position: absolute;
        top: 45%;
        left: 0;
        margin: 0 20px;
        color: white;
    }

}