

/* Navigation */
nav a img{
    height: 50px;
}


.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
}

/* Adavntages */

 #advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    padding: 5% 5%;
}


#advantages .items{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:black;
    padding: 20px;
    margin: 30px;
    margin: 0 auto;

}

#advantages .advantages-content{
    padding: 3%;
}

#advantages .icon-custome{
    color: white;
    font-size: 3.5em;
    transition: all .2s ease-in-out;
}

#advantages .icon-custome:hover{
    transform: scale(1.2)
}

table{
    width: 40%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin: 20px;
   
}

tr{
    border-bottom: 1px solid white;
   
}

td{
    padding: 15px;

}


