@media all and (max-width: 992px) and (min-width: 769px){

    #header .header-container{
        margin-top: 10em;
        
    }

    #header .header-container h1{
        font-size: 5em;
    }

    #header .header-container h2{
        margin-top: 2rem;
        font-size: 2.5em;
    }

    #portfolio figure{
        flex-basis: 50%;
    }

    #contact{
        height: 100%;

    }

    #contact form{
        width: 50%;
    }
   
}

@media all and (max-width: 768px) and (min-width: 481px){
    #header .header-container{
        margin-top: 10em;
        
    }

    #header .header-container h1{
        font-size: 5em;
    }

    #header .header-container h2{
        margin-top: 2rem;
        font-size: 2.5em;
    }
    
    #portfolio figure{
        flex-basis: 50%;
    }

    #contact form{
        width: 50%;
    }

    #contact{
        height: 100%;

    }

}

@media all and (max-width: 480px){
    #header .header-container{
        margin-top: 5em;
        
    }

    #header .header-container h1{
        font-size: 3.5em;
    }

    #header .header-container h2{
        margin-top: 15%;
    }


    #about img{
        height: 200px;
        }

    #portfolio figure{
        flex-basis: 100%;
    }

    #portfolio figcaption{
        font-size: 0.9rem;
    }

    #contact{
        height: 100%;

    }

    #contact form{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #contact .contact-info{
        padding-top: 15%;
        padding-bottom: 2%;
        margin: 0 auto;
    }

}