@import 'variables';
@import 'mixins';

body{
    color: $primary-color;
}

nav{
    background-color: aliceblue;
    ul{
        li{
            background-color: crimson;
            a{
                color: $secondary-color;

            }
        }
    }
}

.test{
    button{
        @include btn-primary(40px);
    
        &:hover{ // wszystko co wyzej
        background-color:orange;
        }
    }
    .btn-second{
        @include btn-primary(60px)
    }
}