@media all and (max-width: 992px) and (min-width: 769px){

    /* #header .header-container{
        margin-top: 10em;
        
    }

    #header .header-container h1{
        font-size: 5em;
    }

    #header .header-container h2{
        margin-top: 2rem;
        font-size: 2.5em;
    } */

    #portfolio figure{
        flex-basis: 50%;
    }

    #contact{
        height: 100%;

    }

    #contact form{
        width: 50%;
    }
   
}

@media all and (max-width: 768px) and (min-width: 600px){
    /* #header .header-container{
        margin-top: 10em;
        
    }

    #header .header-container h1{
        font-size: 5em;
    }

    #header .header-container h2{
        margin-top: 2rem;
        font-size: 2.5em;
    } */
    
    #portfolio figure{
        flex-basis: 50%;
    }

   
    #contact form{
        width: 50%;
    }

    #contact{
        height: 100%;

    }

}

@media all and (max-width: 600px){
    /* #header{
        background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/background.jpg");
        
    } */

    /* #header .header-container h1{
        margin-top: 60px;
        font-size: 3.5rem;
    } */

    /* #header .header-container h2{
        margin-top: 20px;
    } */

    .navigation a:not(:first-child) {
        display: none;
    }
    .navigation div.icon {
        float: right;
        display: block;
        margin-right: 10px;
    }

    .navigation.responsive {
        position: relative;
    }
    .navigation.responsive div.icon {
        position: absolute;
        right: 0;
        top: 0;
      
    }
    .navigation.responsive a {
      float: none;
      display: block;
      text-align: left;
    }


    #about img{
        height: 200px;
        }

    #portfolio figure{
        flex-basis: 100%;
    }


    #portfolio figure:hover figcaption{
        opacity: 0;
    }

    #contact{
        height: 100%;

    }

    #contact form{
        width: 100%;
        margin: 10px;
        padding: 10px;
    }

    #contact .contact-info{
        padding-top: 20px;
        padding-bottom: 15px;
        margin: 0 auto;
    }

    .fa-linkedin{
        font-size: 4rem;
    }

}

