* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: black;

}

/* Helpers */

hr{
    background-color: black;
    width: 40%;
}

h3{
    margin-top: 20px;
    text-align: center;
}

h4{
    padding-top: 1%;
}

.fab, .fas{
    color: black;
    font-size: 4em;
    transition: all .2s ease-in-out;
}

.fab:hover{
    transform: scale(1.2)
}

/* Navigation */
nav{
    position: relative;
}
.navigation {
    position: absolute;
    z-index: 1;
    top:0;
    width: 100%;
    background-color: transparent;
    
}
   
.navigation a{
    float: left;
    color: black;

    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation div.icon {
    line-height: 55px;
    font-size: 1.5rem;
    height: 55px;
    display: none;
}

.navigation a:first-child{
    padding: 0;

}
   
.navigation a:not(:first-child):hover {
    background-color: black;
    color: white;
}

#logo{
      height: 55px;
}
  

/* Header */

/* #header{
    background-image: url('../img/background.JPG');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    display:flex;
    justify-content: center;
    text-align: center;
    
} */
#header{
    display:flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center; 

}

.header-container{
    position: absolute;
    z-index: 1;
    /* left: 50%; */
    /* top: 10%; */
    /* margin-left:-400px; */

}

/* #header .header-container{
    margin-top: 9em;
    
} */

#header .header-container h1{
    
    font-size: 4.5em;
    font-weight: 400;
}

#header .header-container h2{
    margin-top: 2.8rem;
    font-size: 1.5rem;
    line-height: 5rem;
}

/* About me */

#about, #skills, #services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    text-align: center;
}

#about img{
    height: 300px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

#about img:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}



#about button{
    border: 2px solid black;
    padding: 5px 20px;
    margin: 5px;

}

#about button:hover{
    background-color: black;
    color: white;
}

#about .question-about{
    font-weight: bold;
}

#about a{
    color: black;
    text-decoration: underline;

}

#about a:hover{
    color: darkgrey;
    text-decoration: underline;

}



/* Skills */

#skills, #services{
    padding-bottom: 3%;
}

#skills .items{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #f2f1ed;
    padding: 20px;
    margin: 30px;
    position: relative;
    margin: 0 auto;

}


/* Portfolio */

#portfolio, #services{
    padding: 5%;
    background-color:  #f2f1ed;
    padding-top: 1%;
   

}

#portfolio .figure{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

#portfolio figure{
   margin: 0;
   flex-basis: 33%;
   position: relative;
   height: 240px;
}

#portfolio figure img {
  height: 100%;
  width: 100%; 
  object-fit: cover;
}

#portfolio figcaption{
   position: absolute;
   opacity: 0;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   text-align: center;
   line-height: 180px;
   color: white;
   transition: all 0.4s;
}


#portfolio figure:hover figcaption{
   opacity: 1;
   background-color: rgba(10, 10, 10, 0.6)
}

#portfolio figcaption::before{
    content: '';
    border: 2px solid white;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
}


/* Contact form */

#contact{
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/computer-1185626_1920.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;

}

#contact h3{
    margin-top: 0;
    padding-top: 1%;
}

#contact .contact-container{
    display: flex;
    flex-wrap: wrap;
    
}

#contact .contact-info{
    margin: 0 auto;
    font-size: 1.7rem;
    
}

#contact form{
    border: 2px solid black;
    width: 40%;
    margin-left: 2%;
    padding: 2% 2% 0 2%;
}

#contact input:not([type="submit"]), textarea{
    width: 100%;
    
}

#contact input[type="submit"]{
    border: 2px solid black;
   
    padding: 5px 20px;
}


#contact .caption{
    font-size: 0.8rem;
    margin-top: 5px;
}

#contact .contact-info a{
    color: black;
}

/* Footer */

#footer{
    text-align: center;
    font-size: 0.7rem;
    padding-top: 0.7rem;
}





